@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb { 
    background: linear-gradient(to right, #00093c, #2d0b00);
}

::-webkit-scrollbar-track {
    background-color: #FFF3E0; 
}

.header-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.header-text {
    margin-top: 100px;
}

/* Logo styling */
.logo-wrapper .logo {
    max-width: 200px;
}

/* Two Logos styling */
.logo-wrapper .logo, 
.logo-wrapper .logo2 {
    height: auto;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

/* Logo 2 styling */
.logo-wrapper .logo2 {
    max-width: 48px;
}

/* Hover effect on logo */
.logo-wrapper:hover .logo, 
.logo-wrapper:hover .logo2 {
    transform: scale(1.1);
}

/* Logo container */
.logo-wrapper {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-left: 7.5%;
}

/* Logo animation effect */
.logo-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
    z-index: 1;
}

#back-to-top {
    position: fixed;
    bottom: 20px; 
    right: 15px;  
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 30px; 
    border-radius: 50%; 
    text-decoration: none;
    transition: background-color 0.5s ease, margin-bottom 0.3s ease; 
    z-index: 9999; 
    display: none;
}

/* Back to top button i styling */
#back-to-top i {
    font-size: inherit;
    line-height: 1;
}

/* Back to top button target styling */
#back-top-top:target {
    display: flex;
}

/* Hover effect for back-to-top button */
#back-to-top:hover {
    margin-bottom: 5px; 
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px; 
    background-color: #00093c;
    z-index: 1000; 
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Navigation list */
nav ul {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding: 0; 
    list-style: none;
    height: 100%;
}

/* Navigation list items */
nav ul li {
    position: relative;
    margin: 0 15px; 
    border-radius: 8px; 
    overflow: hidden;
    transition: background 0.2s ease;
    line-height: 40px;
    color: white; 
    font-size: 24px;
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

/* Hover effect on nav items */
nav ul li:hover {
    background: rgba(255, 255, 255, 0.2); 
}

/* Nav links */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 1; 
    position: relative;
    display: inline-block;
    padding: 5px 10px; 
    transition: color 0.25s ease;
    z-index: 2;
    align-items: center; 
    gap: 8px; 
    transition: color 0.25s ease, transform 0.5s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Hover and focus effect on nav links */
nav ul li:hover a,
nav ul li:focus-within a  {
    color: #FFF8E1;
    transform: scale(1.04); 
    font-weight: bold;
}

/* Active nav link styling */
nav ul li a.active {
    color: #000;
}

/* Active link before element */
nav ul li a.active::before {
    opacity: 1;
    transform: scale(1);
}

/* Target link styling */
nav ul li a:target {
    color: #000; 
}

/* Target link before element */
nav ul li a:target::before {
    opacity: 1;
    transform: scale(1); 
}

#menuToggle {
    display: none;
}

.menu-icon {
    float: right;
    display: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    /*text-shadow: 2px 2px 5px rgb(192, 192, 192);*/
}

h3 {
    color: red;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.container {
    margin-top: -40px;
    position: relative;
    width: 100%;
    height: 700px; 
    background-image: url('Images/cityhall.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
}

.container::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; 
    background-size: cover;
    background-position: center;
    /*filter: blur(5px);*/
    z-index: 0; 
}

.header-text h1, .header-text h3, .header-text p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 1; 
}

.header-text h3 {
    color: #f7f7f7;
    top: 65%; 
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgb(7, 6, 68);
}

.header-text p {   
    top: 80%;
    font-size: 1.0rem;
    padding: 0 15px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
}

.button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-logo {
    display: block;
    margin: 0 auto 20px; 
    max-width: 100px;
    height: auto; 
    border-radius: 50px; 
    box-shadow: 0 2px 4px rgba(14, 7, 78, 0.719); 
}

.highlighted-sentence {
    display: inline-block; /* Ensures proper wrapping for inline elements */
    background: url("Images/dmdp blur.png") no-repeat center center;
    background-size: cover; /* Makes the image cover the text area */
    padding: 10px 20px; /* Adds spacing around the text */
    color: #fff; /* Ensures the text is readable */
    font-style: italic; /* Matches the styling in your example */
    border-radius: 10px; /* Adds rounded corners if needed */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Optional: Adds shadow for better contrast */
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Set width to 80% of the screen */
    max-width: 700px; /* Optional: Limit maximum width for larger screens */
    text-align: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-image {
    width: 100%;
    height: auto;
    /*border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}

.modal-content1 {
    background-color: #fff;
    margin: 0 auto; 
    padding: 25px 20px; 
    border: 1px solid #ccc; 
    width: 90%; 
    max-width: 600px; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    position: relative;
    animation: fadeIn 0.4s ease-in-out; 
}

.modal-content1 h2{
    text-align: center;
}

.modal-content1 ol {
    padding-left: 20px;
    margin: 15px 0;
    font-size: 1rem;
    color: #555;
}

.modal-content1 ol li {
    margin: 10px 0;
    line-height: 1.6;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #888; 
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: red;
}

.image-grid .image-container {
    border: 2px solid rgb(201, 201, 201);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.image-grid .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

.image-grid .image-container:hover img {
    transform: scale(1.1);
}

.image-grid .image-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.image-grid .image-container:hover button {
    opacity: 1;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.card {
    border: 2px solid black;
    display: flex;
    flex-direction: row; 
    width: 40%; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    align-items: center; 
    gap: 15px; 
    border-radius: 5px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.card:hover {
    transform: scale(1.0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.651);
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 170px; 
    height: 280px;
    margin-right: 10px;
    object-fit: cover;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.icon img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.651);
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h2 {
    font-style: bold;
    font-size: 1.2rem;
    color:#000000;
    margin: 0;
}

.content p {
    font-size: 0.9rem;
    color:#000000;
    margin: 0 0 10px;
    text-align: justify;
}

.button-container {
    display: flex;
    gap: 40px; /* Adds space between the buttons */
    margin-top: 10px; /* Optional: Adds spacing above the buttons */
}

.buttons {
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #00093c;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    margin-top: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons:hover {
    background-color: #010e57;
    transform: scale(1.05);
}

/* Footer styling */
footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 60px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 60px;
}

/* Footer hyperlink for hover*/
footer a {
    transition: transform 0.3s ease;
    display: inline-block; 
}

/* Footer link hover effect */
footer a:hover {
    transform: scale(1.2); 
}

/* Row styling for flexible layout */
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

/* Column styling for grid layout */
.col {
    flex-basis: 25%;
    padding: 10px;
}

/* First column special width */
.col:first-child {
    flex-basis: 15%;
}

/* Last column special width */
.col:last-child {
    flex-basis: 15%;
    padding-left: 30px;
}

/* Middle columns special padding */
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
    padding-left: 50px;
}

/* Footer logo styling */
.logo-footer {
    width: 80px;
    margin-bottom: 30px;
}

/* Column h3 styling */
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}

/* Column paragraph styling */
.col p {
    margin: 0;
    text-align: justify;
}

/* Email id styling */
.col p.email-id {
    margin: 0;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

/* Column unordered list styling */
.col ul {
    padding: 0; 
    margin: 0; 
    list-style: none;
}

/* List item styling in column */
.col ul li {
    list-style: none;
    margin-bottom: 12px;
    padding-right: 0;
}

/* Link styling in column */
.col ul li a {
    text-decoration: none;
    color: #fff;
}

/* Form styling */
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

/* Icon styling in form */
form .bx {
    font-size: 18px;
    margin-right: 10px;
}

/* Form input styling */
form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

/* Form button styling */
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    align-self: flex-end; 
    margin-bottom: -5px;
}

/* Button icon styling */
form button .bx {
    font-size: 30px;
    color: #ccc;
    margin-right: -11px;
}

/* Social icon styling */
.social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

/* Social icon hover effect */
.social-icons .bx:hover {
    transform: scale(1.2);
}

/* Horizontal rule styling */
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid  #ccc;
    margin: 25px auto;
}

/* Copyright text styling */
.copyright {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

/* Underline styling */
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}

/* Moving span inside underline */
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

/* Moving animation for underline */
@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* Appearing animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Rightward show animation */
@keyframes showRight {
    100% {
       width: 0;
    }
}

@media (max-width: 1024px) {
    .container {
        height: 600px; 
    }

    .header-text h1 {
        font-size: 3rem; 
        top: 25%;
    }

    .header-text h3 {
        font-size: 2rem;
        top: 40%;
    }

    .header-text p {
        font-size: 1rem; 
        top: 55%;
        max-width: 700px;
    }
    .services {
        gap: 15px;
    }

    .card {
        width: 48%;
    }

    .content h2 {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 0.85rem;
        text-align: justify;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .close {
        font-size: 24px;
    }

    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 25px;
        text-align: center;
        color: #ffffff;            
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.active {
        display: flex;
    }
 
    nav ul li {
        margin: 10px 0;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media (max-width: 768px) {
    .container {
        height: 500px; 
    }

    .header-text h1 {
        font-size: 2.5rem; 
        top: 20%;
    }

    .header-text h3 {
        font-size: 1.8rem; 
        top: 35%;
    }

    .header-text p {
        font-size: 0.9rem; 
        top: 50%;
        max-width: 600px; 
    }
    .card {
        width: 100%;
        flex-direction: column;
    }

    .icon {
        margin-right: 0;
        margin-bottom: 15px;
        align-self: center;
    }
    .content{
        align-items: center;
        text-align: center;
    }
    .content h2 {
        font-size: 1rem;
        text-align: center;
    }

    .content p {
        font-size: 0.8rem;
        text-align: center;
        text-align: justify;
    }

    .buttons {
        align-self: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 20px;
        text-align: center;
        color: #ffffff;            
    }
   
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .close {
        font-size: 24px;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .container {
        height: 400px;
    }

    .header-text h1 {
        font-size: 2rem; 
        top: 15%;
    }

    .header-text h3 {
        font-size: 1.5rem;
        top: 30%;
    }

    .header-text p {
        font-size: 0.8rem; 
        top: 45%;
        max-width: 100%;
        padding: 0 10px;
    }

    .card {
        padding: 15px;
    }

    .content h2 {
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
    }

    .content p {
        text-align: center;
        font-size: 0.75rem;
        text-align: justify;
    }

    .buttons {
        font-size: 0.8rem;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 12px;
        text-align: center;
        color: #ffffff;            
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
   
    .modal-content {
        width: 95%;
        padding: 10px;
    }

    .close {
        font-size: 20px;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media (max-width: 380px) {
    .container {
        height: 350px; 
    }

    .header-text h1 {
        font-size: 1.8rem; 
        top: 10%;
    }

    .header-text h3 {
        font-size: 1.3rem; 
        top: 25%;
    }

    .header-text p {
        font-size: 0.7rem; 
        top: 40%;
        max-width: 100%; 
        padding: 0 5px; 
    }
    .card {
        padding: 10px;
    }

    .icon img {
        width: 80px;
        height: 80px;
    }

    .content h2 {
        font-size: 0.8rem;
    }

    .content p {
        font-size: 0.7rem;
        text-align: justify;
    }

    .buttons {
        width: 150px;
        padding: 8px 16px;
        font-size: 0.7rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }


    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 10px;
        text-align: center;
        color: #ffffff;            
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menuToggle:checked + .navbar a {
        display: block;
        float: none;
        text-align: left;
    }

    .menu-icon {
        display: block;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }s

    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}