@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #000, #444);
    border-radius: 8px;
}


::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 8px;
}


.header-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0;
}


header {
    text-align: center;
    padding: 20px;
}


.header-text {
    margin-top: 100px;
}




.logo {
    max-width: 175px;
    height: auto;    
    display: block;  
}


.logo:hover {
    transform: scale(1.1);
}


.logo-wrapper {
    position: relative;
    max-width: 300px;
    display: inline-block;
    margin-left: 7.5%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}


nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav ul li {
    margin: 0 20px;
    position: relative;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    transition: color 0.25s ease;
    z-index: 2;
}


nav ul li a:hover,
nav ul li a:focus {
    color: #000;
}


nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


nav ul li a::after {
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 5px;
}


nav ul li a:hover::before,
nav ul li a:focus::before {
    opacity: 1;
    transform: scale(1);
}


nav ul li a.active {
    color: #000;
}


nav ul li a.active::before {
    opacity: 1;
    transform: scale(1);
}


nav ul li a:hover::after,
nav ul li a:focus::after {
    scale: 1 1;
}


nav ul li a:target {
    color: #000;
}


nav ul li a:target::before {
    opacity: 1;
    transform: scale(1);
}


#menuToggle {
    display: none;
}


.menu-icon {
    float: right;
    display: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


footer {
    bottom: 0;
    left: 0;      
    padding: 10px 0;          
    background-color: #121212;
}


footer p {
    font-size: 25px;
    text-align: center;
    color: #ffffff;            
}


h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(192, 192, 192);
}


h3 {
    color: red;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.container {
    margin-top: -40px;
    position: relative;
    width: 100%;
    height: 700px; 
    background-image: url('cityhall.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
}
.container::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; 
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: 0; 
}
.header-text h1, .header-text h3, .header-text p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
    z-index: 1; 
}

.header-text h1 {
    color: #fff;
    top: 30%; 
    font-size: 4rem;
}

.header-text h3 {
    color: #fff;
    top: 55%; 
    font-size: 2.5rem;
}

.header-text p {   
    top: 70%;
    font-size: 1.2rem;
    max-width: 800px; 
    padding: 0 15px;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}


.image-container {
    position: relative;
}


.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
}

.modal-logo {
    display: block;
    margin: 0 auto 20px; 
    max-width: 100px;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}



.modal-content {
    background-color: #fff;
    margin: 0 auto; 
    padding: 25px 20px; 
    border: 1px solid #ccc; 
    width: 90%; 
    max-width: 500px; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    position: relative;
    animation: fadeIn 0.4s ease-in-out; 
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #888; 
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: red;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
}


.modal-content ol {
    padding-left: 20px;
    margin: 15px 0;
    font-size: 1rem;
    color: #555;
}

.modal-content ol li {
    margin: 10px 0;
    line-height: 1.6;
}

.image-grid .image-container {
    border: 2px solid rgb(201, 201, 201);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}


.image-grid .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}


.image-grid .image-container:hover img {
    transform: scale(1.1);
}


.image-grid .image-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}


.image-grid .image-container:hover button {
    opacity: 1;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: row; 
    width: 40%; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    align-items: center; 
    gap: 15px; 
    border-radius: 5px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.card {
    border: 1.5px solid #5f4119;
    display: flex;
    flex-direction: row; 
    width: 40%; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    align-items: center; 
    gap: 20px;
    border-radius: 5px;
}

.icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 120px; 
    height: 120px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h2 {
    font-style: bold;
    font-size: 1.2rem;
    color:#5f4119;
    margin: 0;
}

.content p {
    font-size: 0.9rem;
    color:#5f4119;
    margin: 0 0 10px;
}

.buttons {
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    margin-top: auto;
}



@media (max-width: 1024px) {
    .container {
        height: 600px; 
    }

    .header-text h1 {
        font-size: 3rem; 
        top: 25%;
    }

    .header-text h3 {
        font-size: 2rem;
        top: 40%;
    }

    .header-text p {
        font-size: 1rem; 
        top: 55%;
        max-width: 700px;
    }
    .services {
        gap: 15px;
    }

    .card {
        width: 48%;
    }

    .content h2 {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 0.85rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }


    .modal-content {
        width: 90%;
        padding: 15px;
    }


    .close {
        font-size: 24px;
    }


    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 25px;
        text-align: center;
        color: #ffffff;            
    }


    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }


    nav ul.active {
        display: flex;
    }
 
    nav ul li {
        margin: 10px 0;
    }


    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }


    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }


    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}




@media (max-width: 768px) {
    .container {
        height: 500px; 
    }

    .header-text h1 {
        font-size: 2.5rem; 
        top: 20%;
    }

    .header-text h3 {
        font-size: 1.8rem; 
        top: 35%;
    }

    .header-text p {
        font-size: 0.9rem; 
        top: 50%;
        max-width: 600px; 
    }
    .card {
        width: 100%;
        flex-direction: column;
    }

    .icon {
        margin-right: 0;
        margin-bottom: 15px;
        align-self: center;
    }
    .content{
        align-items: center;
        text-align: center;
    }
    .content h2 {
        font-size: 1rem;
        text-align: center;
    }

    .content p {
        font-size: 0.8rem;
        text-align: center;
    }

    .buttons {
        align-self: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }


    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 20px;
        text-align: center;
        color: #ffffff;            
    }
   
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }


    nav ul.active {
        display: flex;
    }


    nav ul li {
        margin: 10px 0;
    }


    .modal-content {
        width: 90%;
        padding: 15px;
    }


    .close {
        font-size: 24px;
    }


    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }


    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }


    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}


@media (max-width: 480px) {
    .container {
        height: 400px;
    }

    .header-text h1 {
        font-size: 2rem; 
        top: 15%;
    }

    .header-text h3 {
        font-size: 1.5rem;
        top: 30%;
    }

    .header-text p {
        font-size: 0.8rem; 
        top: 45%;
        max-width: 100%;
        padding: 0 10px;
    }

    .card {
        padding: 15px;
    }

    .content h2 {
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
    }

    .content p {
        text-align: center;
        font-size: 0.75rem;
    }

    .buttons {
        font-size: 0.8rem;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }


    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 12px;
        text-align: center;
        color: #ffffff;            
    }


    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }


    nav ul.active {
        display: flex;
    }


    nav ul li {
        margin: 10px 0;
    }
   
    .modal-content {
        width: 95%;
        padding: 10px;
    }


    .close {
        font-size: 20px;
    }


    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }


    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }


    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}




@media (max-width: 380px) {
    .container {
        height: 350px; 
    }

    .header-text h1 {
        font-size: 1.8rem; 
        top: 10%;
    }

    .header-text h3 {
        font-size: 1.3rem; 
        top: 25%;
    }

    .header-text p {
        font-size: 0.7rem; 
        top: 40%;
        max-width: 100%; 
        padding: 0 5px; 
    }
    .card {
        padding: 10px;
    }

    .icon img {
        width: 80px;
        height: 80px;
    }

    .content h2 {
        font-size: 0.8rem;
    }

    .content p {
        font-size: 0.7rem;
    }

    .buttons {
        width: 150px;
        padding: 8px 16px;
        font-size: 0.7rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }


    footer {
        bottom: 0;
        left: 0;      
        padding: 10px 0;          
        background-color: #121212;
    }
   
    footer p {
        font-size: 10px;
        text-align: center;
        color: #ffffff;            
    }


    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }


    nav ul.active {
        display: flex;
    }


    nav ul li {
        margin: 10px 0;
    }


    #menuToggle:checked + .navbar a {
        display: block;
        float: none;
        text-align: left;
    }


    .menu-icon {
        display: block;
    }


    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }


    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }


    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}
